<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's run with the website-whatsrun.com</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans+Condensed:300|Roboto+Condensed|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1619146_3j4g6ks3573.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <div class="layout-doc" id="J-Whatsrun-App" v-cloak>
        <div class="layout-scroller" ref="wrapper">
            <div class="scroll-container">
                <div class="layout-header">
                    <h1 class="title">What's Run With <a class="site" :href="'https://whatsrun.com/siteinfo/'+domain" target="_blank" :title="domain"><span class="abbr domain-abbr">{{domain}}</span></a></h1>
                </div>

                <div class="layout-container">
                    <div class="card-box run-item-list" v-if="jsFramework&&jsFramework.length">
                        <h2 class="panel-title">JavaScript Framework</h2>
                        <div class="panel-body">
                            <div class="run-item" v-for="(item,key) in jsFramework">
                                <div class="cabinet">
                                    <i class="icon iconfont" :class="item.name|lowercase"></i>
                                    <span class="name"><a :href="item|nameLink" target="_blank">{{item.name}}</a></span>
                                    <span class="version"><a :href="item|versionLink" target="_blank">{{item.version}}</a></span>
                                </div>
                                <div class="drawer">
                                    <span :class="{'homepage':item.homepage}"><a :href="item.homepage?item.homepage:'javascript:;'" target="_blank"><i class="iconfont" :class="item.homepage?'icon-home':''"></i></a></span>
                                    <span :class="{'opensource':item.source}"><a :href="item.source" target="_blank"><i class="iconfont" :class="item.source|openSourceType"></i></a></span>
                                    <span class="link"><a :href="item|nameLink" target="_blank"><i class="iconfont icon-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box run-item-list" v-if="uiLibrary&&uiLibrary.length">
                        <h2 class="panel-title">UI Library</h2>
                        <div class="panel-body">
                            <div class="run-item" v-for="(item,key) in uiLibrary">
                                <div class="cabinet">
                                    <i class="icon iconfont" :class="item.name|lowercase"></i>
                                    <span class="name"><a :href="item|nameLink" target="_blank">{{item.name}}</a></span>
                                    <span class="version"><a :href="item|versionLink" target="_blank">{{item.version}}</a></span>
                                </div>
                                <div class="drawer">
                                    <span class="homepage">{{item.homepage}}</span><span class="opensource">{{item.opensource}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box run-item-list" v-if="serverLang&&serverLang.length">
                        <h2 class="panel-title">Server End Language/Web Framework</h2>
                        <div class="panel-body">
                            <div class="run-item" v-for="(item,key) in serverLang">
                                <div class="cabinet">
                                    <i class="icon iconfont" :class="item.name|lowercase"></i>
                                    <span class="name"><a :href="item|nameLink" target="_blank">{{item.name}}</a></span>
                                    <span class="version"><a :href="item|versionLink" target="_blank">{{item.version}}</a></span>
                                </div>
                                <div class="drawer">
                                    <span class="homepage"><a :href="item.homepage" target="_blank"><i class="iconfont"></i></a></span>
                                    <span class="opensource"><a :href="item.opensource" target="_blank"><i class="iconfont"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-box run-item-list" v-if="serverList&&serverList.length">
                        <h2 class="panel-title">Server</h2>
                        <div class="panel-body">
                            <div class="run-item" v-for="(item,key) in serverList">
                                <div class="cabinet">
                                    <i class="icon iconfont" :class="item.name|lowercase"></i>
                                    <span class="name"><a :href="item|nameLink" target="_blank">{{item.name}}</a></span>
                                    <span class="version"><a :href="item|versionLink" target="_blank">{{item.version}}</a></span>
                                </div>
                                <div class="drawer">
                                    <span :class="{'homepage':item.homepage}"><a :href="item.homepage?item.homepage:'javascript:;'" target="_blank"><i class="iconfont" :class="item.homepage?'icon-home':''"></i></a></span>
                                    <span :class="{'opensource':item.source}"><a :href="item.source" target="_blank"><i class="iconfont" :class="item.source|openSourceType"></i></a></span>
                                    <span class="link"><a :href="item|nameLink" target="_blank"><i class="iconfont icon-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-footer">
                        <h2>{{'WantToSeeMoreInsights'|chromei18n}}</h2>
                        <a :href="'https://whatsrun.com/siteinfo/'+domain" target="_blank"><button class="goto-whatsrun">{{'GotoWhatsrun'|chromei18n}}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/bscroll.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/app.config.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>